* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #6c3cdb,#69158b);
    background-size: 300% , 300%;
    animation: color 10s ease-in-out infinite;
  }

  @keyframes color{
    0%{
        background-position:0 50% ;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position:0 50% ;
    }
  }

  html {
    font-size: 16px;
  }
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 50%;
    font-size: 12vmin;
    color: #e9b5f5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    cursor: pointer;
  }
  .popup {
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
  }
  #message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }